@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: rgb(37 99 235 / 1);
  --hoveredBlue: rgb(18, 72, 189);
  --dark: rgba(52, 53, 65, 1);
  --darker: rgba(52, 53, 68, 1);
  --smallDark: rgb(177, 177, 179);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 107, 139, 0.158);
}
::-webkit-scrollbar-thumb {
  background: var(--blue);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--hoveredBlue);
}

/* Scroll hidden */
.scroll-no-width::-webkit-scrollbar {
  width: 3.5px;
  height: 3.5px;
  background: none;
}

/* Progressbar */
progress {
  border-radius: 7px;
  height: 4px;
  margin-left: -11.5%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
  background: var(--smallDark);
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background: var(--darker);
  border-radius: 7px;
  box-shadow: var(--smallDark);
}

progress::-moz-progress-bar {
  background: var(--smallDark);
  border-radius: 7px;
}

.three-dost {
  background-image: radial-gradient(circle, black 2px, transparent 2px);
  background-size: 100% 33.33%;
  border-radius: 0.75rem !important;
}

/* Audio tag custom styles */
audio {
  padding: 0px !important;
  height: 76px;
  display: flex !important;
  align-items: flex-start !important;
}

audio::-webkit-media-controls-panel {
  height: 64px !important;
  display: flex !important;
  justify-content: space-between !important;
}

audio::-webkit-media-controls {
  height: 76px !important;
  display: flex !important;
  justify-content: space-between !important;
  gap: 0px !important;
}

audio::-webkit-media-controls-play-button {
  border-radius: 100% !important;
  justify-self: flex-start !important;
}

audio::-webkit-media-controls-timeline {
  position: absolute;
  width: 90%;
  bottom: 2px;
  left: -4px;
}

audio::-webkit-media-controls-current-time-display {
  margin-right: -49px;
}

audio::-webkit-media-controls-mute-button {
  display: none !important;
}

audio::-webkit-media-controls-volume-slider {
  display: none !important;
}

audio::-webkit-media-controls-volume-control-container.closed {
  display: none !important;
}
audio::-webkit-media-controls-volume-control-container {
  display: none !important;
}